
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'poppins';
    src: url(../public/Poppins/Poppins-Light.ttf);
  }
@font-face {
    font-family: 'poppins-bold';
    src: url(../public/Poppins/Poppins-SemiBold.ttf);
  }

  * {
    font-family: 'poppins';
  }

  h1{
    font-family: 'poppins-bold'
  }
body, html, root{
    all: unset;
    height: 100vh;
}